#!/bin/bash

if [ -f {{ kapow_config }}/routes ]; then
    for r in $(cat {{ kapow_config }}/routes |jq -cr '.[] |@base64'); do 
    echo $r|base64 --decode| curl -f -X POST --data-binary @- http://{{ kapow_control_bind }}/routes; 
    done
fi